@value primaryColor from "../variables.modules.css";

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  list-style: none;
  margin: 20px auto 20px auto;
  background-color: primaryColor;
  border-radius: 1%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  display: block;
  border-radius: 50%;
  width: 100px;
  margin: 10px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin: 3px;
}

.tag,
.location {
  margin: 3px;
  text-align: center;
  font-size: 16px;
  color: #8a8888;
}

.stats {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e6e6;
}

.statsItem {
  width: 90px;
  padding: 10px;
  outline: 1px solid #8a8888;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: capitalize;
  color: #8a8888;
}

.quantity {
  font-weight: 700;
  font-size: 16px;
}
