@value primaryColor from "../variables.modules.css";

.transactionHistory {
  width: 700px;
  margin: 60px auto;
  border-radius: 4px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.tableHead {
  background-color: #e0e0e0;
  color: #000;
  text-align: center;
  font-size: 18px;
}

.headRow {
  height: 50px;
}

.tableData {
  height: 50px;
  text-transform: capitalize;
  font-size: 16px;
}

.tableRow {
  background-color: #f2f2f2;
}

.tableRow:nth-child(2n-1) {
  background-color: primaryColor;
}
